.wechat-content{
    /*position: fixed;*/
    height: calc( 100% - 200px);
}

.left {
    padding-right: 10px;
}

.wechat-right {
    padding-left: 10px;
}

.right-top {
    /*padding-bottom: 10px;*/
    padding: 10px 0;
}


.right-bottom {
    /*padding-bottom: 10px;*/
    padding: 10px 0 10px 0;
}

