.appContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.modalContainer {
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0,0,0, 0.3) 0px 5px 30px;
    background-color: rgba(241, 241, 241, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
} 