
#root {
    height: 100vh;
}
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


/*.ant-drawer-mask {*/
/*    top: 30px !important;*/
/*}*/

/*.ant-drawer-content-wrapper {*/
/*    top: 30px !important;*/
/*}*/

/*.ant-modal-mask {*/
/*    top: 30px !important;*/
/*}*/
/*.ant-modal-wrap {*/
/*    top: 30px !important;*/
/*}*/

