
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}
html {
    /*position: absolute;*/
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
}
body {
    padding: 0;
    overflow: auto;
    background-color: transparent;
}

/*ag grid*/
.ant-tabs-content {
    height: 100% !important;
}

/*ag grid*/
.ant-tabs-tabpane {
    height: 100% !important;
}

.ant-spin-nested-loading{
    height: 100% !important;
}
/*!*.ant-drawer-mask {*!*/
/*!*    top: 30px !important;*!*/
/*!*}*!*/

/*!*.ant-drawer-content-wrapper {*!*/
/*!*    top: 30px !important;*!*/
/*!*}*!*/

/*!*.ant-modal-mask {*!*/
/*!*    top: 30px !important;*!*/
/*!*}*!*/
/*!*.ant-modal-wrap {*!*/
/*!*    top: 30px !important;*!*/
/*!*}*!*/

