.ant-notification-notice-icon{
    font-size: 16px !important;
    margin-top: 3px !important;
}

.ant-notification-notice-message{
    font-size: 14px !important;
    align-items: center !important;
    margin-inline-start: 20px !important;
    
}

.ant-notification-notice{
    padding: 5px 5px !important;
}

.ant-notification-notice-description {
    margin-inline-start: 20px !important;
}